{{#> layout currentPage = 'Home'}}
<!-- NAVBAR -->


<!-- Profile card -->
<main class=" card main_content w-75 p-3" style="margin: 20px auto;">
    <div id="container">
        <div class="profile_card1" style="font-family: Poppins, serif !important">
            <h3 class=" fw-bold" style="text-align: center;"> Hi !! Welcome to my page </h3>

            <p style="text-align: justify;"> Hello my name is shofiyatunnisa you can call me shofi. im 24 years old. Now
                i live in East Jakarta, but im from solok, West Sumatera. I am currently learning to become a Fullstack
                Developer, focusing on Frontend and Backend development using technologies such as HTML, CSS,
                JavaScript, React, Node.js, and PostgreSQL. I am passionate about building responsive, efficient web
                applications with a great user experience. If you would like to connect or discuss further, feel free to
                reach out to me through social media!. Don't hesitate to send a message.I’ll be happy to respond! Thank
                You🖤

            </p>

            <!-- <p>Download CV ⭳ </p> -->
            <p>
                <a href="/img/CV-SHOFIYATUNNISA.pdf" class="btn btn-black " style="border-radius: 20px; width: 160px;"
                    role="button">Download CV</a> &nbsp;
            </p>
            <br>
            {{!-- social links --}}

            <p class="social-links" data-aos="flip-down">
                <a href="https://github.com/shofiyatunnisa9"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.instagram.com/shofiyatunnisaa/"><i class="fa-brands fa-instagram"></i>
                    <a href="https://www.linkedin.com/in/shofiyatunnisa-shofiyatunnisa-977981221/"><i
                            class="fa-brands fa-linkedin"></i></a>
                    <a href="https://x.com/Shofiya251993?t=sKiFeYi-ImFWuY0DvHXeiA&s=08"><i
                            class="fa-brands fa-x-twitter"></i></a>
            </p>

        </div>
        <!-- PHOTO CARD -->
        <div class="card" style="width: 18rem;">
            <img src="/img/profile.JPG" class="card-img-top" alt="card_profile">
            <span class="table table-striped table-hover" style="text-align: center;">

                <h5 class="fw-bold">Shofiyatunnisa</h5>

                <small>Fullstack Develops</small>


            </span>
        </div>
    </div>
</main>
{{/layout}}