{{#> layout currentPage = 'Create Blog'}}
<form class="row g-3 create_project_form" id="project-form" action="myproject-create" method="post"
    enctype="multipart/form-data">
    <h1>Add New Project</h1>
    <div class="col-12 form_field">
        <label for="name" class="form-label fw-bold">Project Name</label>
        <input type="text" class="form-control" id="inputNameProject" required>
    </div>
    <div class="col-md-6 form_field ">
        <label for="start_date" class="form-label fw-bold">Start date</label>
        <input type="date" class="form-control" id="start_date" required>
    </div>
    <div class="col-md-6 form_field">
        <label for="end_date" class="form-label fw-bold">End Date</label>
        <input type="date" class="form-control" id="end_date" required>
    </div>

    <div class="col-12 form_field">
        <label for="description" class="form-label fw-bold">Description</label>
        <textarea type="text" class="form-control" id="description" rows="6" required></textarea>
    </div>
    <label>Technologies</label>
    <div class="tech-options">
        <label>
            <input type="checkbox" id="nodejs">
            <img src="/img/nodejs.png" alt="Node Js">
        </label>
        <label>
            <input type="checkbox" id="reactjs">
            <img src="/img/react.png" alt="React Js">
        </label>
        <label>
            <input type="checkbox" id="nextjs">
            <img src="/img/next.js.png" alt="Next Js">
        </label>
        <label>
            <input type="checkbox" id="typescript">
            <img src="/img/typescript.png" alt="TypeScript">
        </label>

        <div class="col-12 form_field">
            <label for="image" class="form-label fw-bold">Upload Image</label>
            <input type="file" class="form-control" id="uploadImage" required>
        </div>
        <div class="col-12 button_container" id="project-button">
            <button onclick="hitungDurasi()" type="submit" class="btn btn-black">Submit</button>
        </div>
</form>

<script src="/js/myproject.js"></script>
{{/layout}}