{{#> layout currentPage = 'MyProject Detail'}}
<article class="myproject-create">
    <img src="/img/pict2.jpg" alt="myProject_img">
    <h4 class="myProject_item_caption " style="font-weight: bold;">
        Dumbways Mobile Apps - 2025
    </h4>
    <p style="color: gray;">durasi : 3 bulan</p>
    <p>App that used for dumbways student, it way deployed and can downloaded on playstore or appstore. Happy
        download</p>
    <div id="icon_myProject">
        <img src="/img/playstore.png" alt="">
        <img src="/img/android.png" alt="">
        <img src="/img/java.png" alt="">
    </div>
    <p></p>

    <div class="myProject_buttons">
        <div class="button_myProject">
            <button type="submit">Edit</button>
        </div>
        <div class="button_myProject">
            <button type="submit">Delete</button>
        </div>
    </div>

</article>

{{/layout}}